.img_in_main_page{
  margin: auto;
  height: auto;
  width: 450px;
  color: #002157;
  font-weight: inherit;
  font-family: inherit;
  font-style: inherit;
  text-decoration: inherit;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;

  -moz-box-shadow: 0px 0px 10px 11px #333333;
  -webkit-box-shadow: 0px 0px 10px 11px #333333;
  box-shadow: 0px 0px 10px 11px #333333;
}
body{padding-top:30px;}

.glyphicon {  margin-bottom: 10px;margin-right: 10px;}

small {
  display: block;
  line-height: 1.428571429;
  color: #999;
}